doctype html
html
    head
        title Location Management System
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/jquery-gmaps-latlon-picker.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script(src='/javascripts/jquery-2.1.1.min.js')
        script(src='/javascripts/jquery-gmaps-latlon-picker.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
        script(src='/javascripts/geo-min.js')
        script(src='/javascripts/my-script.js')
    body
        div.jumbotron
            div.container
                h1 Location Management System
                p Welcome to Location Management System

        block content
