//
   Created by Sulav on 7/4/17.

extends layout

block content

    script(src='/javascripts/initialize-location.js')

    div.container
        ul.nav.nav-pills
            li(role='presentation')
                a(href='/') Home
            li(role='presentation')
                a(href='/add') Add Location
            li.active(role='presentation')
                a(href='/search') Search Nearby Places

        h1 Search
        form.form-inline
            p Your Longitude :
                span#longitude -
            p Your Latitude :
                span#latitude -
            .form-group
                label.marginleft(for='category') Category*:
                input#category.form-control.marginleft(type='text', placeholder='Enter category...')
            .form-group
                label.marginleft(for='name') Name:
                input#name.form-control.marginleft(type='text')
            button#searchLocation.btn.btn-default.marginleft(type='button') Search

        br
        p#message
        ul#locations
